/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.icon-sparks {
  opacity: 0;
}

.icon-core {
  fill: transparent;
  transition: fill 0.3 linear;
}

.icon-main-body {
  fill: transparent;
  transition: fill 0.3 linear;
}

.like-icon.is-liked .icon-contour {
  fill: var(--color-button);
  transition: fill 0.3 linear;
}

.like-icon:hover .icon-core {
  fill: var(--color-button);
  cursor: pointer;
  transition-delay: 0s;
}

.like-icon:hover .icon-main-body {
  fill: var(--color-button);
  cursor: pointer;
  transition-delay: 0.05s;
}

.like-icon:active .icon-core {
  fill: var(--color-hearts);
  transition-delay: 0s;
}

.like-icon:active .icon-main-body {
  fill: var(--color-hearts);
  transition-delay: 0.05s;
}

.like-icon.is-liked .icon-core {
  transition-delay: 0s;
  fill: var(--color-hearts);
}

.like-icon.is-liked .icon-main-body {
  transition-delay: 0.05s;
  fill: var(--color-hearts);
}

.like-icon.is-liked .icon-sparks {
  animation: favorite-icon-icon-sparks 0.3s ease-in 0.3s 1 alternate;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s alternate;
  transform-origin: center;
}

@keyframes arrow_shift {
  0% {
    right: 0;
  }
  50% {
    right: 4px;
  }
  100% {
    right: 0;
  }
}

@keyframes favorite-icon-icon-sparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
