/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
}

.header {
  padding: 100px 0 100px 0 ;
  display: grid;
  background-image: var(--background-imge);
  position: relative;
  color: var(--color-text);
  font-family: "Press Start 2P";
}

.menu {
  display: grid;
  justify-content: center;
  justify-items: center;
  padding-top: 120px;
  background-color: var(--background-color);
  border: 2px solid var(--color-border); 
}

.title {
  color: var(--color-text);
  font-family: 'Inter';
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 700;
  padding-left: 10px;
}

.title-main {
 font-size: 49px;
 padding-bottom: 20px;
 font-weight: 400;
}

.title-text {
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: 400;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
}

.theme-menu {
  padding-bottom: 25px;
}

.theme-menu__button {
  background-color: var(--background-color);
  font-size: 14px;
}

.card {
  border: 2px solid var(--color-border); 
  padding-bottom: 50px;
}

.img-color {
  width: 100%;
  block-size: 100%;
  inline-size: 100%;
}

.text__start {
  display: inline-block;
  max-width: 321px;
  font-family: 'Inter';
  font-size: 18px;
  line-height: 21px;
  font-weight: 200;
  color: var(--color-text);
  padding-top: 25px;
}

.button {
  width: 130px;
  height: 38px;
  font-family: 'Press Start 2P';
  color: var(--color-text);
  background-color: var(--background-color);
  border: 2px solid var(--color-border);
  margin-top: 25px;
  margin-bottom: 25px;
}

.for-work {
  display: grid;
  justify-content: space-around;
  justify-items: end;
}

