/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --background-color: #000;
  --background-imge: repeating-linear-gradient(
      to left,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
  --color-text: #00cc14;
  --color-border: #00cc14;
  --webkit-text-stroke: #000;
  --backround-border: #fff;
  --color-button: #00cc14;
  --color-button-text: #00cc14;
}

:root.theme-light {
  --color-button-text: #fff;
  --color-button: #000;
  --backround-border: #000;
  --webkit-text-stroke: #fff;
  --background-color: #fff;
  --background-imge: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --color-text: #000;
  --color-border: #000;
}
