/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --heart-icon-contour-color: #000;
  --color-hearts: #ff0000;
  --color-button: #00cc14;
  --main-font: "Inter-Variable";
  --accent-font: "Press Start 2P";
  --font-weight-card-title: 785;
  --font-weight-card-text: 400;
}
