/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
	--heart-icon-contour-color: #000;
	--color-hearts:  #FF0000;
	--color-button: #00CC14;
}